#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
#map {
  border: thick solid rgba(87, 124, 247, 0.795);
  height: 600px;
  width: 600px;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map2 {
  border: thick solid rgba(87, 124, 247, 0.795);
  height: 600px;
  width: 600px;
}

/* Style input fields */
label {
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 30px;
    
}

input[type=text] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  font-size: 20px;
  margin-left: 15px;
  height: 2em;
}

input:focus {
  border-color: green;
}

#btn-wrapper{
    display: inline-block;
    text-align:center;
}

input[type=submit]{
	background-color: #1c1cba;
	color:white;
	font-size: 20px;
	width:5em;  
	height: 2em;
}

input[type=submit]:hover{
	background-color: green;
	cursor:pointer;
}

/* Vertically center inner-container */
#form-container{
    background-color: lightgray;
    border: 3px solid black;
    margin: auto;

}

#form-container::before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	height: 15vh;
}

#inner-container{
	display: inline-block; 
	vertical-align: middle;  
}


/* Animation and Background colors */
.background {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, darkgrey 50%, black 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.background2 {
  animation-direction:alternate-reverse;
  animation-duration:7s;
}

.background3 {
  animation-duration:8s;
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
